#api
api/dist
api/node_modules/
api/build
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*
api/# OS
api/.DS_Store
api/# Tests
api//coverage
api//.nyc_output
api/# IDEs and editors
api//.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace
api/# IDE - VSCode
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json
api/# dotenv environment variable files
api/.env
api/.env.development.local
api/.env.test.local
api/.env.production.local
api/.env.local
api/# temp directory
api/.temp
api/.tmp
api/# Runtime data
api/pids
api/*.pid
api/*.seed
api/*.pid.lock

#web
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*
web/node_modules
web/dist
web/dist-ssr
web/*.local
web/# Editor directories and files
web/.vscode/*
web/!.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?

#mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts
mobile/.kotlin/
mobile/*.orig.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/.metro-health-check*
mobile/npm-debug.*
mobile/yarn-debug.*
mobile/yarn-error.*
mobile/.DS_Store
mobile/*.pem
mobile/.env*.local
mobile/*.tsbuildinfo
